package gomodel

import (
    "github.com/cosiner/gomodel"
)

{{range $model, $fields := .Models}}
{{$normal := $model.Name}}
{{$unexport := $model.Unexported}}
{{$upper := $model.Upper}}
{{$self := $model.Self}}
{{$recv := (printf "(%s *%s)" $self $normal)}}
const (
    {{range $index, $field := $fields}}{{$upper}}_{{$field.Upper}} {{if eq $index  0}} uint64 = 1 << iota {{end}}
    {{end}}
    {{$unexport}}FieldEnd = iota
    {{$unexport}}FieldsAll = 1 << {{$unexport}}FieldEnd-1
    {{range $index, $field := $fields}}{{$unexport}}FieldsExcp{{$field.Name}} = {{$unexport}}FieldsAll &(^{{$upper}}_{{$field.Upper}})
    {{end}}

    {{range $index, $field := $fields}}{{$normal}}{{$field.Name}}Col = "{{$field.Column}}"
    {{end}}
)

var (
    {{$unexport}}Instance = new({{$normal}})
)

func {{$recv}} Table() string {
    return "{{$model.Table}}"
}

{{if $model.Nocache}}
func {{$recv}} Nocache() bool {
    return {{$model.Nocache}}
}
{{end}}

func {{$recv}} Columns() []string {
    return []string{
    {{range $index, $field:=$fields}}{{$normal}}{{$field.Name}}Col,{{end}}
    }
}

func {{$recv}} Vals(fields uint64, vals []interface{}) {
    if fields != 0 {
    if fields == {{$unexport}}FieldsAll {
        {{range $index, $field:=$fields}}vals[{{$index}}]={{$self}}.{{$field.Name}}
        {{end}}
    } else {
       index := 0
    {{range $fields}} if fields&{{$upper}}_{{.Upper}} != 0 {
        vals[index] = {{$self}}.{{.Name}}
        index++
        }
    {{end}}  }
    }
}

func {{$recv}} Ptrs(fields uint64, ptrs []interface{}) {
    if fields != 0 {
        if fields == {{$unexport}}FieldsAll {
        {{range $index, $field:=$fields}}ptrs[{{$index}}]=&({{$self}}.{{$field.Name}})
        {{end}}
         } else {
        index := 0
        {{range $fields}} if fields&{{$upper}}_{{.Upper}} != 0 {
            ptrs[index] = &({{$self}}.{{.Name}})
            index++
        }
    {{end}}}
    }
}

func {{$recv}} txDo(db *gomodel.DB, do func(*gomodel.Tx, *{{$normal}}) error) error {
    var (
        tx *gomodel.Tx
        err error
    )
    switch r := exec.(type) {
    case *gomodel.Tx:
        tx = r
    case *gomodel.DB:
        tx, err = r.Begin()
        if err != nil {
            return err
        }
        defer tx.Close()
    default:
        panic("unexpected underlay type of gomodel.Executor")
    }

    err = do(tx, {{$self}})
    tx.Success(err == nil)
    return err
}

type (
    {{$unexport}}Store struct {
        Values []{{$normal}}
        Fields uint64
    }
)

func (s *{{$unexport}}Store) Init(size int) {
    if cap(s.Values) < size {
        s.Values = make([]{{$normal}}, size)
    } else {
        s.Values = s.Values[:size]
    }
}

func (s *{{$unexport}}Store) Final(size int) {
    s.Values = s.Values[:size]
}

func (s *{{$unexport}}Store) Ptrs(index int, ptrs []interface{}) {
    s.Values[index].Ptrs(s.Fields, ptrs)
}

func (s *{{$unexport}}Store) Realloc(count int) int {
    if c := cap(s.Values); c == count {
        values := make([]{{$normal}}, 2*c)
        copy(values, s.Values)
        s.Values = values

        return 2 * c
    } else if c > count {
        s.Values = s.Values[:c]

        return c
    }

    panic("unexpected capacity of {{$unexport}}Store")
}
func (a *{{$unexport}}Store) Clear() {
    if a.Values != nil {
        a.Values = a.Values[:0]
    }
}
{{end}}

var (
{{range $name, $sql := .SQLs}}
    {{$name}} = gomodel.NewSqlId(func(gomodel.Executor) string {
        return "{{$sql}}"
    })
{{end}}
)
